@import "tailwindcss";

:root {
  --background: #A6310B;
  --foreground: #171717;
}

.bg-red-dark {
  background-color: #60220E;
}

.text-red-darlk {
  color: #60220E;
}

.bg-yellow-bitdark {
  background-color: #FAC020;
}

.bg-page-custom {
  background-color: var(--background);
}

/* Menu */